body{
    background-image: url('scrap_left.png'),url('bg_green.png');
    background-repeat: no-repeat, repeat;
    background-position-x:-55px,center;
    background-size: auto, auto;
}
.header{
    font-size: 100px;
    color: aliceblue;
    font-family: Dosis, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
}
p{
    font-family: Dosis, sans-serif;
    font-size: 40px;
    color: gold;
    text-align: right;
}
.card-body{
    font-family: Dosis, sans-serif;
}
form {
    border: 3px solid aliceblue;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}  
img.avatar {
    width: auto;
    border-radius: 50%;
}  
.container {
    padding: 16px;
}
.forgot{
    float: right;
    padding-top: 16px;
}